{
    "swagger": "2.0",
    "info": {
        "version": "0.1.0",
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "host": "elinge-boneless.com/api",
    "basePath": "",
    "tags": [
        {
            "name": "Clientes",
            "description": "API para obtener información de los clientes de la página El Inge Boneless"
        },
        {
            "name": "Contenido Pedido",
            "description": "API para obtener la información sobre el contenido de los pedidos de la página El Inge Boneless"
        },
        {
            "name": "Stock",
            "description": "API para trabajar con el stock de materia prima de Elinge-boneless.com"
        },
        {
            "name": "Pedido",
            "description": "API para trabajar con la tabla de Pedidos de Elinge-boneless.com"
        },
        {
            "name": "Realizar Pedido Completo",
            "description": "API para crear un pedido completo de Elinge-boneless.com"
        },
        {
            "name": "Direcciones",
            "description": "API para obtener la información de las direcciones de los clientes de la página Elinge-boneless.com"
        },
        {
            "name": "Administrador",
            "description": "API para verificar los datos del administrador de la página Elinge-boneless.com"
        }
    ],
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/clientes": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listado de todos los clientes que existen de la página El Inge Boneless.",
                "description": "<p>Servicio que devuelve la información detallada de todos los clientes que existen en la página El Inge Boneless.</p><p>&nbsp;</p><p><em><strong>¿Cuáles son los clientes existentes en la pagina?</strong></em></p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idClientes": 1,
                                    "nombre": "Jose Abel",
                                    "apellidos": "Martinez Leyva",
                                    "telefono": "9511882179",
                                    "correo": "joseabelmartinezleyva@gmail.com",
                                    "contraseña": "prueba",
                                    "sexo": "H"
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Clientes"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/contenidoPedido": {
            "get": {
                "tags": [
                    "Contenido Pedido"
                ],
                "summary": "Lista todo el contenido de los pedidos existentes de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada del contenido de cada uno de los pedidos existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idOrden": 1,
                                    "idPedido": 2,
                                    "subtotal": 520.30,
                                    "cantidadBoneless": 10,
                                    "cantidadPapas": 2,
                                    "mangoHabanero": 3,
                                    "bbq": 5,
                                    "bufalo": 1,
                                    "piñaHabanero": 1,
                                    "papasEspeciales": 0
                                },
                                {
                                    "idOrden": 2,
                                    "idPedido": 5,
                                    "subtotal": 150.60,
                                    "cantidadBoneless": 5,
                                    "cantidadPapas": 2,
                                    "mangoHabanero": 3,
                                    "bbq": 2,
                                    "bufalo": 0,
                                    "piñaHabanero": 0,
                                    "papasEspeciales": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Contenido pedidos"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/clientes/{idCliente}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listado de un cliente en particular de la página El Inge Boneless.",
                "description": "<p>Servicio que devuelve la información detallada de un cliente en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idClientes": 1,
                                    "nombre": "Jose Abel",
                                    "apellidos": "Martinez Leyva",
                                    "telefono": "9511882179",
                                    "correo": "joseabelmartinezleyva@gmail.com",
                                    "contraseña": "prueba",
                                    "sexo": "H"
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Cliente"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado."
                    }
                },
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "required": true,
                        "description": "idCliente del cliente del cuál se requiere la información",
                        "type": "number",
                        "default": "10"
                    }
                ]
            }
        },
        "/contenidoPedido/{idOrden}": {
            "get": {
                "tags": [
                    "Contenido Pedido"
                ],
                "summary": "Lista el contenido de un pedido en particular de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada del contenido de un pedido en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idOrden": 2,
                                    "idPedido": 5,
                                    "subtotal": 150.60,
                                    "cantidadBoneless": 5,
                                    "cantidadPapas": 2,
                                    "mangoHabanero": 3,
                                    "bbq": 2,
                                    "bufalo": 0,
                                    "piñaHabanero": 0,
                                    "papasEspeciales": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Contenido pedido"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idOrden",
                        "in": "path",
                        "required": true,
                        "description": "idOrden del contenido de un pedido en específico",
                        "type": "string",
                        "default": "7"
                    }
                ]
            }
        },
        "/clientes/crear": {
            "post": {
                "summary": "Creando un cliente dentro de la página El Inge Boneless.",
                "description": "<p>Servicio que crea un cliente dentro de la página El Inge Boneless.</p>",
                "operationId": "crear",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "cliente",
                        "in": "body",
                        "description": "Cliente agregado",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Nuevo cliente"
                        }
                    }
                ],
                "tags": [
                    "Clientes"
                ],
                "responses": {
                    "200": {
                        "description": "Cliente Agregado."
                    },
                    "201": {
                        "description": "respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/contenidoPedido/crear": {
            "post": {
                "summary": "Crea el contenido de un pedido dentro de la página El Inge Boneless",
                "description": "<p>Servicio que crea el contenido de un pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "crear",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Contenido pedido",
                        "in": "body",
                        "description": "Contenido pedido agregado",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Nuevo contenido pedido"
                        }
                    }
                ],
                "tags": [
                    "Contenido Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/clientes/eliminar/{idCliente}": {
            "delete": {
                "summary": "Eliminar un cliente en específico de la página El Inge Boneless.",
                "description": "<p>Servicio que elimina el cliente dentro de la página El Inge Boneless.</p>",
                "operationId": "eliminar",
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "description": "id del Cliente a eliminar",
                        "required": true,
                        "default": 5
                    }
                ],
                "tags": [
                    "Clientes"
                ],
                "responses": {
                    "200": {
                        "description": "Cliente Eliminado."
                    },
                    "201": {
                        "description": "respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/contenidoPedido/eliminar/{idOrden}": {
            "delete": {
                "summary": "Elimina el contenido de un pedido en específico de la página El Inge Boneless",
                "description": "<p>Servicio que elimina el contenido de un pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "eliminar",
                "parameters": [
                    {
                        "name": "idOrden",
                        "in": "path",
                        "descrition": "id de la orden a eliminar",
                        "required": true,
                        "default": "8"
                    }
                ],
                "tags": [
                    "Contenido Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/clientes/actualizar/{idCliente}": {
            "put": {
                "summary": "Modificando un cliente en específico de la página El Inge Boneless.",
                "description": "<p>Servicio que modifica el cliente de la página El Inge Boneless.</p>",
                "operationId": "actualizar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "description": "id del Cliente a actualizar",
                        "required": true,
                        "default": 1
                    },
                    {
                        "name": "Cliente",
                        "in": "body",
                        "description": "Cliente a modificar",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cliente desactualizado"
                        }
                    }
                ],
                "tags": [
                    "Clientes"
                ],
                "responses": {
                    "200": {
                        "description": "Cliente Modificado."
                    },
                    "201": {
                        "description": "respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/contenidoPedido/actualizar/{idOrden}": {
            "put": {
                "summary": "Actualiza el contenido de un pedido en específico de la página El Inge Boneless",
                "description": "<p>Servicio que actualiza el contenido de un determinado pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "actualizar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idOrden",
                        "in": "path",
                        "description": "id de la orden a cambiar",
                        "required": true,
                        "default": 11
                    },
                    {
                        "name": "Contenido pedido",
                        "in": "body",
                        "description": "Contenido pedido a modificar",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Contenido pedido desactualizado"
                        }
                    }
                ],
                "tags": [
                    "Contenido Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/stock": {
            "get": {
                "tags": [
                    "Stock"
                ],
                "summary": "Lista del stock actual de materia prima de boneless El Inge",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idStock": 1,
                                    "kilosBoneless": 10,
                                    "kilosPapas": 10
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/stock"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/stock/actualizar": {
            "put": {
                "tags": [
                    "Stock"
                ],
                "summary": "Actualiza el stock de materia prima de boneless El Inge",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Stock para Actualizar",
                        "in": "body",
                        "description": "Contenido del stock que se modificará",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/stock-modificar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stock Actualizado"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Lista los pedidos existentes de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de los pedidos existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666.00,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                },
                                {
                                    "idPedido": 777,
                                    "idCliente": 777,
                                    "telefonoExtra": "000000000",
                                    "total": 777,
                                    "dineroRecibido": 800.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedidos"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/{idPedido}": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Lista un pedido en particular de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de un pedido en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedido"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idPedido",
                        "in": "path",
                        "required": true,
                        "description": "idPedido de un pedido en específico",
                        "type": "number",
                        "default": "666"
                    }
                ]
            }
        },
        "/pedidos/crear": {
            "post": {
                "summary": "Crea el pedido dentro de la página El Inge Boneless",
                "description": "<p>Servicio que crea el pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "crear",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Pedido",
                        "in": "body",
                        "description": "Pedido agregado",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Nuevo pedido"
                        }
                    }
                ],
                "tags": [
                    "Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/eliminar/{idPedido}": {
            "delete": {
                "summary": "Elimina el pedido en específico de la página El Inge Boneless",
                "description": "<p>Servicio que elimina el pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "eliminar",
                "parameters": [
                    {
                        "name": "idPedido",
                        "in": "path",
                        "descrition": "id del pedido a eliminar",
                        "required": true,
                        "default": "8"
                    }
                ],
                "tags": [
                    "Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/actualizar/{idPedido}": {
            "put": {
                "summary": "Actualiza el pedido en específico de la página El Inge Boneless",
                "description": "<p>Servicio que actualiza un determinado pedido dentro de la página El Inge Boneless.</p>",
                "operationId": "actualizar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idPedido",
                        "in": "path",
                        "description": "id del pedido a cambiar",
                        "required": true,
                        "default": 11
                    },
                    {
                        "name": "Pedido",
                        "in": "body",
                        "description": "Pedido a modificar",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Pedido desactualizado"
                        }
                    }
                ],
                "tags": [
                    "Pedido"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/finalizados": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Lista los pedidos finalizados existentes de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de los pedidos finalizados existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 1
                                },
                                {
                                    "idPedido": 777,
                                    "idCliente": 777,
                                    "telefonoExtra": "000000000",
                                    "total": 777,
                                    "dineroRecibido": 800.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 1
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedidos"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/noFinalizados": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Lista los pedidos no finalizados existentes de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de los pedidos no finalizados existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                },
                                {
                                    "idPedido": 777,
                                    "idCliente": 777,
                                    "telefonoExtra": "000000000",
                                    "total": 777,
                                    "dineroRecibido": 800.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedidos"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/pedidos/cliente/finalizados/{idCliente}": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Listado de pedidos finalizados de un cliente en particular de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de pedidos finalizados de un cliente en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 1
                                },
                                {
                                    "idPedido": 777,
                                    "idCliente": 777,
                                    "telefonoExtra": "000000000",
                                    "total": 777,
                                    "dineroRecibido": 800.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 1
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedido"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "required": true,
                        "description": "idCliente de un cliente en específico",
                        "type": "number",
                        "default": "666"
                    }
                ]
            }
        },
        "/pedidos/cliente/noFinalizados/{idCliente}": {
            "get": {
                "tags": [
                    "Pedido"
                ],
                "summary": "Listado de pedidos no finalizados de un cliente en particular de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de pedidos no finalizados de un cliente en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idPedido": 666,
                                    "idCliente": 666,
                                    "telefonoExtra": "111111111",
                                    "total": 666,
                                    "dineroRecibido": 700.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                },
                                {
                                    "idPedido": 777,
                                    "idCliente": 777,
                                    "telefonoExtra": "000000000",
                                    "total": 777,
                                    "dineroRecibido": 800.00,
                                    "notas": "None",
                                    "fecha": "2021-12-13T12:14:29.000Z",
                                    "finalizado": 0
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Pedido"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "required": true,
                        "description": "idCliente de un cliente en específico",
                        "type": "number",
                        "default": "666"
                    }
                ]
            }
        },
        "/realizarPedido": {
            "post": {
                "summary": "Crea un pedido completo dentro de la página El Inge Boneless",
                "description": "<p>Servicio que crea un pedido completo dentro de la página El Inge Boneless.</p>",
                "operationId": "crear",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Informacion de Pedido",
                        "in": "body",
                        "description": "Informacion de Pedido",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Pedido Completo"
                        }
                    }
                ],
                "tags": [
                    "Realizar Pedido Completo"
                ],
                "responses": {
                    "200": {
                        "description": "Pedido Agregado Correctamente"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/direcciones":{
            "get":{
                "tags":[
                    "Direcciones"
                ],
                "summary": "Listado de todas las direcciones que existen de la página El Inge Boneless.",
                "description": "<p>Servicio que devuelve la información detallada de cada una de las direcciones que existen en la página El Inge Boneless</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idDireccion": 1,
                                    "colonia": "Reforma Agraria",
                                    "calle": "Galileo",
                                    "numeroExterior": 10,
                                    "numeroInterior": 2,
                                    "referencia": "Antes de la curva",
                                    "idCliente ": 1
                                },
                                {
                                    "idDireccion": 2,
                                    "colonia": "Reforma",
                                    "calle": "Almendros",
                                    "numeroExterior": 109,
                                    "numeroInterior": 29,
                                    "referencia": "",
                                    "idCliente ": 1
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Contenido pedidos"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/direcciones/{idDireccion}":{
            "get":{
                "tags": [
                    "Direcciones"
                ],
                "summary": "Lista el contenido de una dirección en particular de la página El Inge Boneless ",
                "description": "<p>Servicio que devuelve la información detallada de una dirección en específico existente en la página El Inge Boneless.</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idDireccion": 1,
                                    "colonia": "Reforma Agraria",
                                    "calle": "Galileo",
                                    "numeroExterior": 10,
                                    "numeroInterior": 2,
                                    "referencia": "Antes de la curva",
                                    "idCliente ": 1
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Direccion"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idDireccion",
                        "in": "path",
                        "required": true,
                        "description": "id del contenido de una dirección en específico",
                        "type": "string",
                        "default": "1"
                    }
                ]
            }
        },
        "/direcciones/crear":{
            "post": {
                "summary": "Crea el contenido de una dirección dentro de la página El Inge Boneless",
                "description": "<p>Servicio que crea el contenido de una dirección dentro de la página El Inge Boneless.</p>",
                "operationId": "crear",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Direccion",
                        "in": "body",
                        "description": "Dirección agregada",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Nueva Direccion"
                        }
                    }
                ],
                "tags": [
                    "Direcciones"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/direcciones/cliente/{idCliente}":{
            "get":{
                "tags":[
                    "Direcciones"
                ],
                "summary": "Listado de todas las direcciones de un cliente que existe de la página El Inge Boneless.",
                "description": "<p>Servicio que devuelve la información detallada de cada una de las direcciones de un cliente en especifico que existe en la página El Inge Boneless</p>",
                "responses": {
                    "200": {
                        "description": "OK",
                        "examples": {
                            "application/json": [
                                {
                                    "idDireccion": 1,
                                    "colonia": "Reforma Agraria",
                                    "calle": "Galileo",
                                    "numeroExterior": 10,
                                    "numeroInterior": 2,
                                    "referencia": "Antes de la curva",
                                    "idCliente ": 1
                                },
                                {
                                    "idDireccion": 2,
                                    "colonia": "Reforma",
                                    "calle": "Almendros",
                                    "numeroExterior": 109,
                                    "numeroInterior": 29,
                                    "referencia": "",
                                    "idCliente ": 1
                                }
                            ]
                        },
                        "schema": {
                            "$ref": "#/definitions/Direcciones"
                        }
                    },
                    "403": {
                        "description": "Prohibido"
                    },
                    "404": {
                        "description": "No se encontró resultado"
                    }
                },
                "parameters": [
                    {
                        "name": "idCliente",
                        "in": "path",
                        "required": true,
                        "description": "id del contenido de una dirección de un cliente en específico",
                        "type": "string",
                        "default": "1"
                    }
                ]
            }
        },
        "/direcciones/actualizar/{idDireccion}":{
            "put": {
                "summary": "Actualiza el contenido de una dirección en específico de la página El Inge Boneless",
                "description": "<p>Servicio que actualiza el contenido de una dirección en específico dentro de la página El Inge Boneless.</p>",
                "operationId": "actualizar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idDireccion",
                        "in": "path",
                        "description": "idDireccion de la dirección a cambiar",
                        "required": true,
                        "default": 60
                    },
                    {
                        "name": "Dirección",
                        "in": "body",
                        "description": "Dirección a modificar",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Direccion desactualizada"
                        }
                    }
                ],
                "tags": [
                    "Direcciones"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/direcciones/eliminar/{idDireccion}":{
            "delete": {
                "summary": "Elimina el contenido de una dirección en específico de la página El Inge Boneless",
                "description": "<p>Servicio que elimina el contenido de una dirección dentro de la página El Inge Boneless.</p>",
                "operationId": "eliminar",
                "parameters": [
                    {
                        "name": "idDireccion",
                        "in": "path",
                        "descrition": "id de la dirección a eliminar",
                        "required": true,
                        "default": "8"
                    }
                ],
                "tags": [
                    "Direcciones"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Respuesta vacía"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        },
        "/administracion/validar/{correo}/{password}":{
            "get":{
                "summary": "Verifica si existe un usuario dentro de la página El Inge Boneless.",
                "description": "<p>Servicio que verifica la existencia de un administrador dentro de la página El Inge Boneless</p>",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "correo",
                        "in": "path",
                        "description": "Correo del administrador a verificar",
                        "required": true,
                        "default": "prueba@gmail.com"
                    },
                    {
                        "name": "password",
                        "in": "path",
                        "description": "Contraseña del administrador a verificar",
                        "required": true,
                        "default": "prueba"
                    }
                ],
                "tags": [
                    "Administrador"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Prohibido"
                    }
                }
            }
        }
    },
    "definitions": {
        "Contenido pedido": {
            "type": "object",
            "properties": {
                "idOrden": {
                    "type": "number",
                    "description": "Identificador del contenido de un pedido"
                },
                "idPedido": {
                    "type": "number",
                    "description": "Identificador del número de pedido"
                },
                "subtotal": {
                    "type": "number",
                    "description": "Subtotal del pedido"
                },
                "cantidadBoneless": {
                    "type": "number",
                    "description": "Número de Boneless solicitados en el pedido"
                },
                "cantidadPapas": {
                    "type": "number",
                    "description": "Número de papas solicitadas en el pedido"
                },
                "mangoHabanero": {
                    "type": "number",
                    "description": "Número de Boneless sabor mango habanero solicitados en el pedido"
                },
                "bbq": {
                    "type": "number",
                    "description": "Número de Boneless sabor BBQ solicitados en el pedido"
                },
                "bufalo": {
                    "type": "number",
                    "description": "Número de Boneless sabor búfalo solicitados en el pedido"
                },
                "piñaHabanero": {
                    "type": "number",
                    "description": "Número de Boneless sabor piña habanero solicitados en el pedido"
                },
                "papasEspeciales": {
                    "type": "number",
                    "description": "Indica si el pedido incluye o no incluye papas especiales"
                }
            }
        },
        "Contenido pedidos": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Contenido pedido"
            }
        },
        "Nuevo contenido pedido": {
            "type": "object",
            "required": [
                "idPedido",
                "subtotal",
                "cantidadBoneless",
                "cantidadPapas",
                "mangoHabanero",
                "bbq",
                "bufalo",
                "piñaHabanero",
                "papasEspeciales"
            ],
            "properties": {
                "idPedido": {
                    "type": "number",
                    "default": 1
                },
                "subtotal": {
                    "type": "number",
                    "default": 101.50
                },
                "cantidadBoneless": {
                    "type": "number",
                    "default": 15
                },
                "cantidadPapas": {
                    "type": "number",
                    "default": 3
                },
                "mangoHabanero": {
                    "type": "number",
                    "default": 5
                },
                "bbq": {
                    "type": "number",
                    "default": 5
                },
                "bufalo": {
                    "type": "number",
                    "default": 5
                },
                "piñaHabanero": {
                    "type": "number",
                    "default": 0
                },
                "papasEspeciales": {
                    "type": "number",
                    "default": 0
                }
            }
        },
        "Contenido pedido desactualizado": {
            "type": "object",
            "properties": {
                "idPedido": {
                    "type": "number",
                    "default": 1
                },
                "subtotal": {
                    "type": "number",
                    "default": 101.50
                },
                "cantidadBoneless": {
                    "type": "number",
                    "default": 15
                },
                "cantidadPapas": {
                    "type": "number",
                    "default": 3
                },
                "mangoHabanero": {
                    "type": "number",
                    "default": 5
                },
                "bbq": {
                    "type": "number",
                    "default": 5
                },
                "bufalo": {
                    "type": "number",
                    "default": 5
                },
                "piñaHabanero": {
                    "type": "number",
                    "default": 0
                },
                "papasEspeciales": {
                    "type": "number",
                    "default": 0
                }
            }
        },
        "Cliente": {
            "type": "object",
            "properties": {
                "idCliente": {
                    "type": "number",
                    "description": "Identificador del cliente"
                },
                "nombre": {
                    "type": "string",
                    "description": "Nombre del cliente"
                },
                "apellidos": {
                    "type": "string",
                    "description": "Apellidos del cliente"
                },
                "telefono": {
                    "type": "string",
                    "description": "Telefono del cliente"
                },
                "correo": {
                    "type": "string",
                    "description": "Correo del cliente"
                },
                "contraseña": {
                    "type": "string",
                    "description": "Contraseña del cliente"
                },
                "sexo": {
                    "type": "string",
                    "description": "Sexo del cliente"
                }
            }
        },
        "Clientes": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Cliente"
            }
        },
        "Nuevo cliente": {
            "type": "object",
            "required": [
                "nombre",
                "apellidos",
                "telefono",
                "correo",
                "contraseña",
                "sexo"
            ],
            "properties": {
                "nombre": {
                    "type": "string",
                    "default": "Jose Abel"
                },
                "apellidos": {
                    "type": "string",
                    "default": "Martinez Leyva"
                },
                "telefono": {
                    "type": "string",
                    "default": "9511882179"
                },
                "correo": {
                    "type": "string",
                    "default": "joseabelmartinezleyva@gmail.com"
                },
                "contraseña": {
                    "type": "string",
                    "default": "prueba"
                },
                "sexo": {
                    "type": "string",
                    "default": "H"
                }
            }
        },
        "Cliente desactualizado": {
            "type": "object",
            "properties": {
                "nombre": {
                    "type": "string",
                    "default": "Jose"
                },
                "apellidos": {
                    "type": "string",
                    "default": "Martinez"
                },
                "telefono": {
                    "type": "string",
                    "default": "9511882179"
                },
                "correo": {
                    "type": "string",
                    "default": "joseabelmartinezleyva@gmail.com"
                },
                "contraseña": {
                    "type": "string",
                    "default": "prueba"
                },
                "sexo": {
                    "type": "string",
                    "default": "H"
                }
            }
        },
        "stock": {
            "type": "object",
            "properties": {
                "idStock": {
                    "type": "number",
                    "description": "Identificador del Stock"
                },
                "kilosBoneless": {
                    "type": "number",
                    "description": "Cantidad en kilos de boneless en stock"
                },
                "kilosPapas": {
                    "type": "number",
                    "description": "Cantidad en kilos de papas en stock"
                }
            }
        },
        "stock-modificar": {
            "type": "object",
            "properties": {
                "kilosBoneless": {
                    "type": "number",
                    "description": "Cantidad actualizada en kilos de boneless en stock"
                },
                "kilosPapas": {
                    "type": "number",
                    "description": "Cantidad actualizada en kilos de papas en stock"
                }
            }
        },
        "Pedido": {
            "type": "object",
            "properties": {
                "idPedido": {
                    "type": "number",
                    "description": "Identificador del número de pedido"
                },
                "idCliente": {
                    "type": "number",
                    "description": "Identificador del cliente"
                },
                "telefonoExtra": {
                    "type": "string",
                    "description": "Telefono extra para el pedido"
                },
                "total": {
                    "type": "number",
                    "description": "Total de dinero por el pedido"
                },
                "dineroRecibido": {
                    "type": "number",
                    "description": "Dinero recibido por parte del cliente"
                },
                "notas": {
                    "type": "string",
                    "description": "Notas para realizar el pedido"
                },
                "fecha": {
                    "type": "string",
                    "description": "Fecha a realizar el pedido"
                },
                "finalizado": {
                    "type": "number",
                    "description": "Estado del pedido 0 si se encuentra en proceso, 1 si ya fue realizado"
                }
            }
        },
        "Pedidos": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Pedido"
            }
        },
        "Nuevo pedido": {
            "type": "object",
            "required": [
                "idPedido",
                "idCliente",
                "telefonoExtra",
                "total",
                "dineroRecibido",
                "notas",
                "fecha",
                "finalizado"
            ],
            "properties": {
                "idCliente": {
                    "type": "number",
                    "description": "Identificador del cliente"
                },
                "telefonoExtra": {
                    "type": "string",
                    "description": "Telefono extra para el pedido"
                },
                "total": {
                    "type": "number",
                    "description": "Total de dinero por el pedido"
                },
                "dineroRecibido": {
                    "type": "number",
                    "description": "Dinero recibido por parte del cliente"
                },
                "notas": {
                    "type": "string",
                    "description": "Notas para realizar el pedido"
                },
                "fecha": {
                    "type": "string",
                    "description": "Fecha a realizar el pedido"
                },
                "finalizado": {
                    "type": "number",
                    "description": "Estado del pedido 0 si se encuentra en proceso, 1 si ya fue realizado"
                }
            }
        },
        "Pedido desactualizado": {
            "type": "object",
            "properties": {
                "idCliente": {
                    "type": "number",
                    "description": "Identificador del cliente"
                },
                "telefonoExtra": {
                    "type": "string",
                    "description": "Telefono extra para el pedido"
                },
                "total": {
                    "type": "number",
                    "description": "Total de dinero por el pedido"
                },
                "dineroRecibido": {
                    "type": "number",
                    "description": "Dinero recibido por parte del cliente"
                },
                "notas": {
                    "type": "string",
                    "description": "Notas para realizar el pedido"
                },
                "fecha": {
                    "type": "string",
                    "description": "Fecha a realizar el pedido"
                },
                "finalizado": {
                    "type": "number",
                    "description": "Estado del pedido 0 si se encuentra en proceso, 1 si ya fue realizado"
                }
            }
        },
        "Pedido Completo": {
            "type": "object",
            "properties": {
                "pedido": {
                    "type": "object",
                    "properties": {
                        "idCliente": {
                            "type": "number",
                            "description": "Identificador del cliente"
                        },
                        "telefonoExtra": {
                            "type": "string",
                            "description": "Telefono extra para el pedido"
                        },
                        "total": {
                            "type": "number",
                            "description": "Total de dinero por el pedido"
                        },
                        "dineroRecibido": {
                            "type": "number",
                            "description": "Dinero recibido por parte del cliente"
                        },
                        "notas": {
                            "type": "string",
                            "description": "Notas para realizar el pedido"
                        },
                        "idDireccion": {
                            "type": "number",
                            "description": "Dirección a la que se hará la entrega"
                        },
                        "finalizado": {
                            "type": "number",
                            "description": "Estado del pedido 0 si se encuentra en proceso, 1 si ya fue realizado"
                        }
                    }
                },
                "contenido_pedido": {
                    "type": "object",
                    "properties": {
                        "subtotal": {
                            "type": "number",
                            "default": 101.50
                        },
                        "cantidadBoneless": {
                            "type": "number",
                            "default": 15
                        },
                        "cantidadPapas": {
                            "type": "number",
                            "default": 3
                        },
                        "mangoHabanero": {
                            "type": "number",
                            "default": 5
                        },
                        "bbq": {
                            "type": "number",
                            "default": 5
                        },
                        "bufalo": {
                            "type": "number",
                            "default": 5
                        },
                        "piñaHabanero": {
                            "type": "number",
                            "default": 0
                        },
                        "papasEspeciales": {
                            "type": "number",
                            "default": 0
                        }
                    }
                }
            }
        },
        "Direccion":{
            "type":"object",
            "properties":{
                "idDireccion":{
                    "type":"number",
                    "description":"Identificador de la dirección de un cliente"
                },
                "colonia":{
                    "type":"string",
                    "description":"Colonia de la dirección de un cliente"
                },
                "calle":{
                    "type":"string",
                    "description":"Calle de la dirección de un cliente"
                },
                "numeroExterior":{
                    "type":"number",
                    "description": "Número exterior de la dirección de un cliente"
                },
                "numeroInterior":{
                    "type":"number",
                    "description": "Número interior de la dirección de un cliente"
                },
                "referencia":{
                    "type":"string",
                    "description":"Información adicinal de la dirección de un cliente"
                },
                "idCliente":{
                    "type":"number",
                    "description":"Identificador del cliente"
                }                
            }
            
        },
        "Direcciones": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Direccion"
            }
        },
        "Nueva Direccion":{
            "type": "object",
            "required": [
                "idDireccion",
                "colonia",
                "calle",
                "numeroExterior",
                "numeroInterior",
                "referencia",
                "idCliente"
            ],
            "properties":{
                "idDireccion":{
                    "type":"number",
                    "default":20
                },
                "colonia":{
                    "type":"string",
                    "default":"Reforma Agraria"
                },
                "calle":{
                    "type":"string",
                    "default":"Galileo"
                },
                "numeroExterior":{
                    "type":"number",
                    "default": 6
                },
                "numeroInterior":{
                    "type":"number",
                    "default": 3
                },
                "referencia":{
                    "type":"string",
                    "default":"Antes de la curva"
                },
                "idCliente":{
                    "type":"number",
                    "default":1
                }
            }
        },
        "Direccion desactualizada":{
            "type":"object",
            "properties":{
                "colonia":{
                    "type":"string",
                    "default":"Reforma"
                },
                "calle":{
                    "type":"string",
                    "default":"Almendros"
                },
                "numeroExterior":{
                    "type":"number",
                    "default": 155
                },
                "numeroInterior":{
                    "type":"number",
                    "default": 9
                },
                "referencia":{
                    "type":"string",
                    "default":"Carca del soriana"
                },
                "idCliente":{
                    "type":"number",
                    "default":1
                }
            }
        }
    }
}
